$page-bg: #0d1117;
$primary-text: #f3efe0;
$font-family: "Noto Sans Display", sans-serif;

$input-bg: #434242;
$input-text: $primary-text;

$button-bg: #F3EFE0;

$link-text: #d22064;
$link-text-focus: #FB2576;
